<div class='section_1'>
  <div class='left'>
    <h3>Meet the EHR that helps independent practices thrive</h3>
    <p>Healthcare technology is all about possibilities; how we can be
      healthier, happier, and more connected during an unpredictable time. Find
      out why MEDITECH Expanse is the EHR for a changing world.</p>
    <a class='btn btn-primary' href='/register'>Sign Up</a>

  </div>
  <div class='right'>
    <img src='/img/image_2.png' alt='' />
  </div>
</div>

<div class='section_2'>

  <div class='left'>
    <p>Streamline Charting</p>
    <p>Save time with templates and patient charts in the cloud-based EHR that
      adapt to your needs.</p>
    <ul>
      <li>Customize chart notes based on your workflows</li>
      <li>Browse from a library of medical charting templates built by practices
        like yours</li>
      <li>Create shortcuts unique to your practice and complete encounters
        faster</li>
      <li>Get the patient information you need at a glance on the patient
        summary</li>
    </ul>
    <a href='/'>Learn More about Charting</a>
  </div>

  <div class='right'>
    <img src='/img/Charting_grouped.png' alt='' />
  </div>
</div>

<div class='sectionz'>
  <div class='section_3'>
    <div class='left'>
      <h3>Communicate at the speed of life with Expanse Patient Connect</h3>
      <p>Your patients are on the go but you can still effectively connect with
        them wherever they are, through their preferred method of communication.
        That real-time, automated connection can help improve your bottom line
        by increasing staff efficiency and reducing appointment no-shows.</p>
      <a href='/' class='button'>Explore</a>
    </div>
    <div class='right'>
      <img src='/img/img_sec3.jpg' alt='' />
    </div>
  </div>
  <div class='section_3_2'>
    <div class='left'>
      <img src='/img/img_sec3_2.jpg' alt='' />
    </div>
    <div class='right'>
      <h3>The future of Modern Medicine. Right now.</h3>
      <p>Announcing Expanse Genomics: An integrated solution that brings genetic
        data directly into the patient chart — with context, interpretation, and
        guidance to help physicians confidently counsel their patients. Now you
        can bring precision medicine to your own community. Learn how.</p>
      <a href='/' class='button'>Explore</a>
    </div>
  </div>
</div>

<div class='section_4'>

  <div class='left'>
    <img src='/img/cloud_illustration.svg' alt='' />
    <h3>Stay on the leading edge of care through the cloud</h3>
    <p>With no software to download or hardware to manage, your cloud-based EHR
      is secure and always up to date.</p>
    <ul>
      <li>Automatic updates get you the latest features – no software to install
        and no additional fees</li>
      <li>Rest easy knowing your data is securely backed up in multiple
        locations on a daily basis</li>
      <li>Protected against cyber attacks and tested regularly by industry
        experts</li>
      <li>HIPAA compliant and HITRUST certified to ensure the safety of your
        patients’ data</li>
    </ul>
  </div>
  <div class='right'>
    <img src='/img/Support_graphic.png' alt='' />
    <h3>Customer support each step of the way</h3>
    <p>Our experts will help you get up and running - and keep you going - at no
      additional cost.</p>
    <ul>
      <li>Guided implementation of online cloud-based EHR features</li>
      <li>Expert support team based in the US to help you each step of the way</li>
      <li>Tailored EHR onboarding and person-to-person support when you need it</li>
      <li>Live webinars and on-demand training always available</li>
    </ul>
  </div>
</div>

<div class='testimonials'>
  <div class='left'>
    <img src='/img/DrGor.png' alt='' class='userImg' />
  </div>

  <div class='right'>
    <blockquote>"I give kudos to Grafia Medicals Care for being responsive to
      user feedback and helping prevent EHR physician burnout. You don’t need
      any fancy hardware. Any web-based computer or tablet is all you need for
      this low cost and high value EHR."</blockquote>
    <blockquote>- Dr. Sam Okeke.</blockquote>
  </div>
</div>

<div class='callToAction'>
  <h3>Get started with Us Today</h3>
  <a class='btn btn-primary' href='/'>Sign Up</a>
</div>