{{! Verify Email Address }}
<p>An email has been sent to adefemisultan808@gmail.com.</p>
Click on the “Verify your
<p>email” link to verify your email address. Please check the spam folder just
  in case.</p>
<p>Some email providers can take up to 20 minutes to process. If you still
  haven't received the email after that time, you can
  <a>send another email</a>
  , or
  <a>update</a>
  your email address.</p>